<h3 *ngIf="contacts; else noContact"></h3>
<div class="row">
  <ng-template #noContact>
    <div class="alert alert-primary" role="alert">
      Lütfen bir İletişim bilgisi ekleyiniz
    </div>
  </ng-template>

  <div class="col-md-12">
    <a routerLink="/contacts-add" class="btn btn-primary float-left"
      >İletişim Bilgisi Ekle</a
    >
  </div>

  <div class="card-body">
    <div class="table-responsive" style="overflow: hidden">
      <table class="table mt-3">
        <thead class="text-primary">
          <th style="width: 20%">İletişim Id</th>
          <th style="width: 25%">İletişim Başlık</th>
          <th style="width: 35%">İletişim İçerik</th>
          <th style="width: 20%">İşlemler</th>
        </thead>
        <tbody>
          <tr *ngFor="let contact of contacts">
            <td>
              {{ contact.contactId }}
            </td>
            <td>
              {{ contact.contactName }}
            </td>
            <td>
              {{ contact.contactDetail }}
            </td>
            <td>
              <button
                class="btn btn-danger"
                (click)="delete(contact.contactId)"
              >
                Sil</button
              >&nbsp;&nbsp;

              <a
                class="btn btn-success"
                routerLink="/contact/{{ contact.contactId }}/guncelle"
              >
                DÜZENLE</a
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
